.PanelMainPage {
  & h1 {
    margin-bottom: 1rem;
  }
}

.PanelMainPage__Container {
  padding: 1rem;
  background-color: var(--color-1);
  border-radius: 1rem;
}

/* Стили таблицы (IKSWEB) */
.PanelMainPage__iksweb {
  text-decoration: none;
  border-collapse: collapse;
  width: 100%;
  text-align: center;
  & th {
    font-weight: normal;
    font-size: 22px;
    color: #ffffff;
    background-color: #303b4b;
  }
  & td {
    font-size: 16px;
    color: #ffffff;
  }
  & td,
  & th {
    white-space: pre-wrap;
    padding: 14px 40px;
    line-height: 16px;
    vertical-align: middle;
    border: none;
  }
  & tr:hover {
    background-color: var(--color-1-hover);
    & td {
      color: #cfcfcf;
      cursor: pointer;
    }
  }
}

.PanelMainPage__Status {
  display: flex;
  & div:first-child {
    padding: 0.5rem;
    margin-right: 0.5rem;
    background-color: #adff2f;
    box-shadow: 0px 0px 5px 3px #adff2f;
    border-radius: 50%;
    animation-duration: 2s;
    animation-name: slidein;
    animation-iteration-count: infinite;
  }
}

.PanelMainPage__SVG{
  & svg{
    font-size: 1.75rem;
    margin: 0 .25rem;
  }
}

@keyframes slidein {
  from {
    background-color: hsl(84, 100%, 40%);
    box-shadow: 0px 0px 5px 1px #adff2f;
  }

  50% {
    background-color: greenyellow;
    box-shadow: 0px 0px 5px 2px #adff2f;
  }

  to {
    background-color: hsl(84, 100%, 40%);
    box-shadow: 0px 0px 5px 1px #adff2f;
  }
}
